<!DOCTYPE html>
  <head>
    <title>我的第一段人生</title>
    <meta name="description" content="" />
    <meta name="author" content="templatemo"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link href="photoalbum/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="photoalbum/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="photoalbum/css/templatemo_misc.css"/>
   	<link type="text/css" rel="stylesheet" href="photoalbum/css/easy-responsive-tabs.css" />
    <link href="photoalbum/css/templatemo_style.css" rel="stylesheet"/> 
        
	<script src="photoalbum/js/jquery-1.10.2.min.js"></script> 
	<script src="photoalbum/js/jquery.lightbox.js"></script>
    <script src="photoalbum/js/easyResponsiveTabs.js" type="text/javascript"></script>  
     <script>
    function showhide()
    {
        var div = document.getElementById("newpost");
		if (div.style.display !== "none") 
		{
			div.style.display = "none";
		}
		else 
		{
			div.style.display = "block";
		}
    }
  </script>
  </head>
  <body>
    	<!-- logo start -->
    <div class="logocontainer">
    	<div class="row">
        	<h1><a href="#">我的第一段人生</a></h1>
            <div class="clear"></div>
            <div class="templatemo_smalltitle">从出生到大学</div>
       </div>
    </div>
    <!-- logo end -->    
   <div id="menu-container" class="main_menu">
   <!-- homepage start -->
    <div class="content homepage" id="menu-1">
  	<div class="container">
          	<div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_mainservice templatemo_botgap">
                	<div class="templatemo_link"><a class="show-2 templatemo_page2" href="/familyPhoto">家人</a></div>
                </div>
                <div class="templatemo_mainimg"><img src="photoalbum/images/templatemo_home1.jpg" alt="home img 01"></div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap"><img src="photoalbum/images/templatemo_home2.jpg" alt="home img 02"></div>
                <div class="templatemo_mainportfolio">
                      <div class="templatemo_link"><a class="show-3 templatemo_page3" href="#">同学</a></div>
                	                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
                	<div class="templatemo_link"><a class="show-4 templatemo_page4" href="#">铁杆</a></div>
                </div>
                <div class="templatemo_mainimg"><img src="photoalbum/images/templatemo_home3.jpg" alt="home img 03"></div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
            	<div class="templatemo_mainimg templatemo_botgap templatemo_topgap">
             	   <img src="photoalbum/images/templatemo_home4.jpg" alt="home img 04">
                </div>
                <div class="templatemo_mainabout templatemo_botgap">
                	<div class="templatemo_link"><a class="show-5 templatemo_page5" href="#">朋友</a></div>
                </div>
                <div class="templatemo_maincontact">
                	<div class="templatemo_link"><a class="show-6 templatemo_page6" href="#">陌生人</a></div>
                </div>
            </div>
    </div>
    </div>
   </div>
    <!-- homepage end -->
    <!--services start -->
    <!-- logo end -->  

  </body>
</html>